<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header>
    <h1 class="login">3columnツール</h1>
  </header>
  <div class="form-group">
    <div class="form-group-address">
      <input type="text" placeholder="メールアドレス" id="mail" class="login_box">
    </div>
    <div class="form-group-pass">
      <input type="password" placeholder="パスワード" id="password" class="login_box">
    </div>
    <button type="button" class="button_login" id="login_button">ログイン</button>
  </div>
  <div class="user_register">
    <a href="/new_user" class="new_user">新規ユーザー登録がまだの場合はこちら</a>
  </div>
  <div class="user_register">
    <a href="/user_forget" class="user_forget">パスワードを忘れた場合はこちら</a>
  </div>
  <div class="user_register">
    <a href="/resend_email" class="resend_email">ユーザー登録のメールが届いていないorURLの有効期限が切れた場合はこちら</a>
  </div>
  <script type="module" src="/js/pages/login.js"></script>
</body>
</html>