<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
  <header>
    <h1 class="login">3columnツール</h1>
  </header>
  <div class="form-group">
    <div class="form-group-pass">
        <input type="password" id="password" placeholder="新規パスワードを入力してください" name="password" class="login_box">
    </div>
    <input type="hidden" id=address name="address" value="<%=mailaddress%>">
    <button type="button" id="register_button" class="button_login">登録</button>
  </div>
<script type="module" src="/js/pages/modify_newuser.js">
 
</script>

  </body>
</html>