<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3コラ新規作成画面</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header>
    <h1 class="login">3columnツール</h1>
    <div class="form-links">
      <a href="/top">一覧に戻る</a>
      <a href="/login">ログアウト</a>
    </div>
  </header>
  <div class="column-container">
    <ul class="table-body">
      <li>
        <div class="item-all">
          <div class="item-data">
            <div class="main_name">
              <label for="message">①具体的場面</label>
            </div>
             <div class="top-data">
              <label for="message">(タイトルを入力してください)</label><span id="necessary">必須</span>
            </div>
            <div class="title">
              <textarea id="title" name="title" class="text_title" placeholder="(例)会社のプレゼン"></textarea>
            </div>
            <div class="top-data">
              <label for="message">(出来事の日付を選択してください)</label><span id="necessary">必須</span>
            </div>
            <div class="title">
              <input type="date" id="datePicker" name="date" class="text_title_date">
            </div>
            <div class="top-data">
              <label for="message">(出来事の場所を入力してください)</label>
            </div>
            <div class="title">
              <textarea id="where" name="title" rows="2" cols="25" class="text_title" placeholder="(例)自宅で"></textarea>
            </div>
            <div class="top-data">
              <label for="message">(誰との出来事かを入力してください)</label>
            </div>
            <div class="title">
              <textarea id="who" name="title" rows="2" cols="25" class="text_title" placeholder="(例)一人で"></textarea>
            </div>
             <div class="top-data">
              <label for="message">(出来事の具体的な状況を入力してください)</label><span id="necessary">必須</span>
            </div>
            <div class="content">
              <div class="content">
                <textarea id="content" name="content" rows="4" cols="50" class="text_content"
                  placeholder="(例)まだ作成できていない資料の説明をしなければならないことを考えながらソファに座っているとき"></textarea>
              </div>
            </div>
            <input type="hidden" id="per_id_1">
            <input type="hidden" id="per_id_2">
            <input type="hidden" id="per_id_3">
            <input type="hidden" id="per_id_4">
            <input type="hidden" id="per_id_5">
            <input type="hidden" id="per_id_6">
            <input type="hidden" id="per_id_7">
            <input type="hidden" id="per_id_8">
            <input type="hidden" id="per_id_9">
            <input type="hidden" id="per_id_10">
            <div class="main_name">
              <label for="message">②気分・感情とその強度(％)</label><span id="necessary">必須(最低1つ)</span>
              <a href="" class="feel_express" id="feel_express">気分・感情一覧はこちら</a>
            </div>
            <div class="row_write">
              <input type="text" id="feeling1" class="searchInput" placeholder="気分・感情を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="feeling2" class="searchInput" placeholder="気分・感情を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_2" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="feeling3" class="searchInput" placeholder="気分・感情を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_3" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="feeling4" class="searchInput" placeholder="気分・感情を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_4" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="feeling5" class="searchInput" placeholder="気分・感情を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_5" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="main_name">
              <label for="message">③認知(考え・イメージ)とその確信度(％)</label><span id="necessary">必須(最低1つ)</span>
            </div>
            <div class="row_write">
              <input type="text" id="autothink1" class="searchInput" placeholder="自動思考を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_6" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="autothink2" class="searchInput" placeholder="自動思考を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_7" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="autothink3" class="searchInput" placeholder="自動思考を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_8" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="autothink4" class="searchInput" placeholder="自動思考を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_9" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
            <div class="row_write">
              <input type="text" id="autothink5" class="searchInput" placeholder="自動思考を入力してください" name="feeling">
              <div id="dropdownContent" class="dropdown-content"></div>
              <select id="per_10" class="per" placeholder="％を選択してください" name="per"></select>
            </div>
          </div>
          <div class="main_name">
            <label for="message">④身体的反応</label>
          </div>
          <div class="title">
            <textarea id="physical" name="physical" rows="2" cols="25" class="text_content"
              placeholder="(例)動悸、不眠"></textarea>
          </div>
          <div class="main_name">
            <label for="message">⑤実際どうしたか</label>
          </div>
          <div class="content">
            <textarea id="action" name="action_content" rows="4" cols="50" class="text_content"
              placeholder="(例)自分を落ち着かせるために入浴した"></textarea>
          </div>
          <div class="main_name">
            <label for="message">⑥気づき</label>
          </div>
          <div class="content">
            <textarea id="notion" name="realize" rows="4" cols="50" class="text_content"
              placeholder="(例)気持ちが落ち着いた"></textarea>
          </div>
          <div class="registerbutton">
            <button type="button" id="ai_register_button" class="button_register">AIに意見を聞いてみる</button>
            <button type="button" id="register_button" class="button_register">登録</button>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <div id="modalOverlay" class="modal-overlay"></div>
  <div id="modal" class="aimodal">
    <h2>AIの意見:</h2>
    <pre id="modalContent"></pre>
    <button id="closeModal">閉じる</button>
  </div>


  <script type="module" src="/js/pages/new_form.js"></script>
</body>

</html>