<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header>
    <h1 class="login">3columnツール</h1>
    <div class="form-links">
      <a href="/login">ログイン画面へ戻る</a>
    </div>
  </header>
  <div class="form-group">
    <div class="form-group-address">
      <input type="text" id="address" placeholder="メールアドレスを入力してください" name="address" class="login_box">
    </div>
    <div class="form-group-pass">
      <input type="password" id="password" placeholder="パスワードを入力してください" name="userpassword" class="login_box">
    </div>
    <button type="button" id="user_register" class="button_login_user">ユーザー登録</button>

    <script type="module" src="/js/pages/new_user.js"></script>
</body>

</html>