<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header>
    <h1 class="login">3columnツール</h1>
    <a href="/login" class="form">ログイン画面へ戻る</a>
  </header>
  <div class="form-group">
    <div class="form-group-address">
      <input type="text" id="address" placeholder="メールアドレスを入力してください" name="address" class="login_box">
    </div>
    <div class="sendmail">
      <button type="button" id=registerPassword class="button_login">再送</button>
    </div>
  </div>
  <script type="module" src="/js/pages/resend_email.js"></script>
</body>

</html>